* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  background-color: lightgrey;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1052px;
  margin: 4rem auto 0;
}

.nav-top__left {
}

.nav-top__left h1 {
  margin-top: 0.5rem;
  font-weight: normal;
  font-size: 2.2rem;
}

.nav-top__right {
  width: 50%;
}

.nav-top__right__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px black solid;
  font-size: 4rem;
  padding: 2rem;
}

.nav-top__right__user i {
  transition: all 0.2s ease-in;
}
.nav-top__right__user i:hover {
  color: goldenrod;
  transform: scale(1.1);
}
.nav-top__right__user__text {
  font-size: 2rem;
  position: relative;
  top: -5px;
}

.nav-top__right h2 {
  margin: 2rem 0;
  font-weight: normal;
  text-align: right;
}

.nav__contact {
  display: flex;
  align-items: center;
}

.nav__contact li {
  text-align: center;
  min-width: 25%;
  padding: 1rem 2rem;
  border: 1px solid black;
  border-top: none;
}
.nav__contact li:nth-child(2) {
  border: none;
  border-bottom: 1px solid black;
}

header {
  text-align: center;
  margin: auto;
  border: none;
}

header img {
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.main-container {
  background-color: rgb(44, 42, 42);
}

.container__vente {
  max-width: 1052px;
  margin: auto;
  background: lightgrey;
  padding: 4rem;
}

.vente {
  max-width: 1052px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.vente__item {
  max-width: 366px;
  position: relative;
}

.vente__item__image {
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
}
.vente__item__image img {
  background-color: whitesmoke;
}

.vente__item__image h3 {
  text-align: center;
  font-size: 1.6rem;
}

.pourcentage {
  position: absolute;
  top: 50px;
  right: -10px;
  background-color: black;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  border-radius: 1rem;
}

.prix {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prix button {
  outline: none;
  color: #f3f3f3;
  font-weight: bold;
  background-color: black;
  width: 50%;
  padding: 1rem;
  margin-top: 1rem;
}
.prix button:hover {
  background-color: transparent;
  color: black;
}
.prix span {
  font-size: 3rem;
  font-weight: bold;
}

.prix span.--old {
  font-size: 1.8rem;
  font-weight: normal;
  text-decoration: line-through;
  position: relative;
  top: -8px;
}

footer {
  background-color: rgb(90, 88, 88);
  text-align: center;
  color: lightgray;
  padding: 1rem;
}

footer nav {
  width: 30%;
  margin: auto;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 1rem;
  position: relative;
  top: -15px;
}

footer nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer nav li:hover {
  color: orange;
}

.footer__icons {
  width: 40%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
}

.footer__icons__card {
  width: 25%;
  margin: 0 1rem;
}

.footer__icons__card p {
  margin-top: 1rem;
}
.footer__gafam {
  width: 15%;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
  color: lightgray;
}
.footer__gafam img {
}

.--orange {
  color: orange;
}
